[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
ProjectSettings/UnityConnectSettings.asset
UserSettings/
Assets/Plugins/Editor/JetBrains*
*.csproj
*.pidb
*.suo
*.user
*.unityproj
*.dll
*.exe
*.pdf
*.mdb
*.pdb
*.db
*.opendb
*.VC.db
